 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="separator">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>I'm a mobile app developer from Adelaide, Australia, with over 8 years professional experience working on over 50 different apps.</p>
                    <br>
                    <p>Check out my portfolio above to see some of the apps I have worked on.</p>
                    <br>
                    <p>If you are looking for an experienced freelance developer to help with project, get in touch with the contact form below.</p>
                </div>
            </div>
        </div>
    </section>
