<!DOCTYPE html>
<html>
    {% include base.html %}
    <body id="page-top" class="index">
    {% include head.html %}
    {% include nav-no-sections.html %}
    <br><br><br><br><br><br>
    
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {{content}}
            </div>
        </div>
    </div>

    <!-- All Posts -->    
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>All Posts</h2>
                <hr class="separator">
            </div>
        </div>
        <div class="row">
            {% assign filtered-posts = site.posts | where: "layout","post" %}
            {% for post in filtered-posts %}
            
            
                <b class="h3">{{ post.title }}</b>
                <br><br>
                {{ post.excerpt }}
                <br><br>
            
            {% endfor %}
        </div>
    </div>
     

    <section class="post-content">
        
    </section>
    
    {% include copyright.html %}
    {% include js.html %}
    </body>
</html>